## Data processing

In [56]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")  # silence warnings

In [57]:
data_path = '/data/Data/UKBB/New2/ukb670081.csv'

In [58]:
df_chunks = pd.read_csv(data_path, chunksize=2000,low_memory=False,encoding='latin1')

In [59]:
temp_chunk = df_chunks.get_chunk()
temp_chunk

,eid,3-0.0,3-1.0,3-2.0,3-3.0,4-0.0,4-1.0,4-2.0,4-3.0,5-0.0,...,132596-0.0,132597-0.0,132598-0.0,132599-0.0,132600-0.0,132601-0.0,132602-0.0,132603-0.0,132604-0.0,132605-0.0
0,1000014,205.0,NaN,NaN,NaN,478.0,NaN,NaN,NaN,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000023,776.0,NaN,NaN,NaN,764.0,NaN,NaN,NaN,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000030,424.0,NaN,NaN,NaN,381.0,NaN,NaN,NaN,206.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000041,374.0,NaN,NaN,NaN,745.0,NaN,NaN,NaN,146.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000059,386.0,NaN,NaN,NaN,322.0,NaN,NaN,NaN,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1019969,430.0,NaN,NaN,NaN,351.0,NaN,NaN,NaN,444.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,1019975,450.0,NaN,NaN,NaN,562.0,NaN,NaN,NaN,233.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,1019981,399.0,NaN,NaN,NaN,525.0,NaN,NaN,NaN,219.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,1019997,631.0,NaN,NaN,NaN,387.0,NaN,NaN,NaN,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,1020003,517.0,NaN,NaN,NaN,602.0,NaN,NaN,NaN,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
[string for string in temp_chunk.columns if "21001" in string]

['21001-0.0', '21001-1.0', '21001-2.0', '21001-3.0']

In [51]:
ICD10 = [string for string in temp_chunk.columns if "41270" in string]

In [61]:
cols = ['eid',
        '21003-2.0', # Age
        '22001-0.0', #Genetic Sex
        '21001-2.0', #BMI
        '25005-2.0', #Volume of gray matter normalized for head size
        '4079-2.0', #Diastolic blood pressure- reading 1
        '4079-2.1', #Diastolic blood pressure- reading 2
        '4080-2.0', #Systolic blood pressure- reading 1
        '4080-2.1', #Systolic blood pressure- reading 2
        '48-2.0', #Waist circumference        
        '49-2.0', #Hip circumference
        '23099-2.0', #BF%
        '2443-2.0', #Diabetes
        '4056-2.0', # Age stroke diagnosed
        '20116-2.0', #Smoking status
        '1558-2.0', # Alcohol intake frequency
        '894-2.0', #Duration of moderate activity
        '914-2.0', #Duration of vigourous activity       
        ] + ICD10

In [62]:
fdf = []

for chunk in tqdm(df_chunks):
    filtered_chunk = chunk.filter(items=cols)
    filtered_chunk = filtered_chunk[filtered_chunk[[
       '25005-2.0'
        ]].notnull().all(1)]
    fdf.append(filtered_chunk)

251it [12:40,  3.03s/it]

In [63]:
filtered_df = pd.concat(fdf)
filtered_df = filtered_df.reset_index(drop=True)
filtered_df

,eid,21003-2.0,22001-0.0,21001-2.0,25005-2.0,4079-2.0,4079-2.1,4080-2.0,4080-2.1,48-2.0,...,41270-0.233,41270-0.234,41270-0.235,41270-0.236,41270-0.237,41270-0.238,41270-0.239,41270-0.240,41270-0.241,41270-0.242
0,1020226,55.0,0.0,22.3386,819768.0,64.0,68.0,113.0,107.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1020261,60.0,1.0,27.2576,818099.0,100.0,96.0,145.0,137.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1020278,67.0,1.0,35.8180,703103.0,70.0,65.0,141.0,132.0,113.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1020394,52.0,1.0,35.6728,810799.0,87.0,89.0,131.0,136.0,119.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1020402,60.0,1.0,27.0801,794743.0,71.0,71.0,132.0,137.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42638,6023849,66.0,1.0,28.1214,778639.0,66.0,69.0,138.0,124.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42639,6023870,63.0,0.0,NaN,859911.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42640,6023960,62.0,0.0,28.2426,813701.0,106.0,104.0,166.0,163.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42641,6024028,80.0,1.0,NaN,692959.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42642,6024118,52.0,1.0,27.9402,866659.0,80.0,73.0,146.0,129.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
filtered_df.to_csv('Paper/ukbb.csv', index=False)